/* Navigation bar */
.navbar {
  background-color: #003366;
  padding: 0.5em 0;
  margin-top: 0.5em;
  border-radius: 6px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1.5em;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #00aaff;
}
